@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

*,
::after,
::before {
  box-sizing: border-box !important;
  scrollbar-width: thin !important;
  scrollbar-color: #6c63ff #222222 !important;
}

*::selection {
  background: rgba(108, 99, 255, 0.2) !important;
  color: #fff !important;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  background: #000 !important;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.correct-answers {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: right;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: hsl(125, 67%, 44%);
}

.container h2 {
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
  text-transform: none;
}

.quiz-small {
  max-width: 500px;
}

/* 
.quiz-small {
  max-width: 500px;
}

.container h2 {
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
  text-transform: none;
}

.answer-btn {
  display: block;
  width: 100%;
  margin: 0.75rem auto;
  background: hsl(205, 90%, 76%);
  border-radius: 0.25rem;
  border-color: transparent;
  color: #222;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: all 0.3s linear;
}

@media screen and (min-width: 576px) {
  .answer-btn {
    max-width: 60%;
  }
}

.answer-btn:hover {
  background: hsl(205, 78%, 60%);
  color: #fff;
}

.correct-answers {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: right;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: hsl(125, 67%, 44%);
}

.next-question,
.close-btn,
.submit-btn {
  border-radius: 0.25rem;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  display: block;
  width: 35%;
  margin-left: auto;
  margin-top: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #ffb100;
  color: #222;
  transition: all 0.3s linear;
  cursor: pointer;
}

.next-question:hover {
  background: #805900;
  color: #ffb100;
}

.setup-form h2 {
  margin-bottom: 2rem;
}

.form-control {
  margin-bottom: 2rem;
}

.form-control label {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  color: hsl(209, 34%, 30%);
  margin-bottom: 0.5rem;
}

.form-input {
  border: none;
  background: hsl(210, 36%, 96%);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
}

.error {
  color: hsl(360, 67%, 44%);
  text-transform: capitalize;
}

.submit-btn {
  width: 100%;
  margin-top: 3rem;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

    .loading {
      width: 6rem;
      height: 6rem;
      margin: 0 auto;
      margin-top: 10rem;
      border-radius: 50%;
      border: 3px solid #ccc;
      border-top-color: hsl(205, 78%, 60%);
      animation: spinner 0.6s linear infinite;
    }
  
    .modal-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.3s linear;
      z-index: -1;
    }
  
    .isOpen {
      opacity: 1;
      z-index: 999;
    }
  
    .modal-content {
      background: #fff;
      width: 90vw;
      max-width: 620px;
      padding: 3rem;
      border-radius: 0.25rem;
      text-align: center;
      position: relative;
    }
  
    .modal-content p {
      font-size: 1.5rem;
        text-transform: none;
        }
        
    .close-btn {
      margin-right: auto;
    } 
    ~
    */
